:root {
    --primary-color: #020268;
    --background-color: #fcfcf7;
    --button-bg: #020268;
    --button-hover: #0056b3;
    --dropdown-bg: white;
    --dropdown-border: #ccc;
    --submenu-bg: #5B78FA;
    --submenu-hover: #3546C6;
    --news-bg: #E0E7FF;
    --list-bg: #022E86;
    --text-color: white;
}

* {
    font-family: poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: poppins;
}

.NavBar {
    background-color: var(--primary-color);
    display: flex;
    height: 75px;
    padding: 10px 5px;
}

.NavBar .Logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 2.5px;
}

.NavBar .Menu {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drpchapters {
    display: flex;
    position: relative;
}

.dropbtn {
    background-color: var(--button-bg);
    padding: 10px 15px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: var(--button-hover);
}

.contchapters, .contHome {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg);
    border: 1px solid var(--dropdown-border);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 250px;
    border-radius: 2px;
    top: 40px;
    left: 10px;
    z-index: 10;
}

.contchapters button, .contHome button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.contchapters button:hover, .contHome button:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

