body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.dycilogo {
    background-color: rgb(26, 26, 136);
    height: 600px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dycilogo img{
    width: 250px;
    height: 250px;
}

.loginform {
    height: 600px;
    width: 550px;
    padding-left: 5px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.loginform .header {
    margin-top: 85px;
}

.loginform .header h1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.loginform .header p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: -10px;
}

.loginform .form {
    align-items: center;
    justify-content: center;
    margin-left: 65px
}

.loginform .form .username {
    margin-top: 50px;
}

.loginform .form .username label {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.loginform .form .username input {
    width: 400px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(255, 209, 3);
    margin-top: 5px;
    padding-left: 10px;
}

.loginform .form .password {
    margin-top: 50px;
}

.loginform .form .password label {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.loginform .form .password input {
    width: 400px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(255, 209, 3);
    margin-top: 5px;
    padding-left: 10px;
}

.loginform .form .RegorSub {
    margin-top: 50px;
    margin-left: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginform .form .RegorSub .btnreg button {
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(0, 0, 63);
    border-bottom: rgb(0, 0, 63);
}

.loginform .form .RegorSub .btnreg {
    margin-right: 20px;
}

.loginform .form .RegorSub .btnlogin button {
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(0, 0, 63);
    border-bottom: rgb(0, 0, 63);
}

.loginform .form .RegorSub button:hover{
    border: solid;
    background-color: rgb(92, 92, 141);
    border-color: rgb(92, 92, 141);
}
